.img {
  display:block;
  margin:auto;
  width:40%;
}
h1,h2,h3,h4,h5{
  text-align: center;
}
body {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
}
header, section{
  width: auto;
  display:flex;
  flex-flow: column nowrap;
}
